
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

#sidebar {
  width: 25%;
}

#message_view {
  height: 100%;
  width: 75%;
  position: absolute;
  left: 25%;
  top: 0;
}
